* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

.twiddler {
  padding: 10px;
  color: red;
  font-size: 60px;  
  font-family: 'Fontdiner Swanky', cursive;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 2px dashed red;
}

.spin {
  margin: 20px;
  margin-left: 800px;
  width: 25vw;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  display: inline-block;
  position: relative;
}

.circle {
  margin: 10px;
  margin-left: 800px;
  height: 400px;
  width: 25vw;
  border-radius: 50%;
  background-color: white;
  border-style: solid;
  border-color: black;
  display: inline-block;
}

.dotgrn, .dotyell, .dotred, .dotblu {
  margin-left: 40px;
  margin-bottom: 40px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}

.dotgrn {
  margin-left: 0;
  background-color: green;
}

.dotyell {
  background-color: yellow;
}

.dotred {
  background-color: red;
}

.dotblu {
  background-color: blue;
}


.pressed {
  transform: scale(0.75);
}
