* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 120vh;
  overflow: scroll;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

.titlebar {
  padding: 7px;
  color: red;
  font-size: 50px;  
  font-family: 'Fontdiner Swanky', cursive;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 2px dashed red;
}

.subtitle {
  color: black;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
}

.dot {
  margin: 15px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.grn {
  background-color: green;
}
.yell {
  background-color: yellow;
}
.red {
  background-color: red;
}
.blu {
  background-color: blue;
}
.row1, .row2, .row3, .row4, .row5, .row6 {
  display:inline-block;
}

.mat {
  margin: 30px;
  background-color: white;
  border-width: 1px;
  border-color: darkgrey;
  border-style: solid;
  display: inline-block;
}

.fingers {
  top: 30px;
  left: 56%;
  position: absolute;
  transform: scale(0.75);
}

.circle {
  top: 50px;
  left: 55%;
  position: absolute;
  transform: scale(0.5);
  transition: all 2s;
}

.stick {
  top: 165px;
  left: 68%;
  width: 10px;
  transform: scale(0.15);
  position: absolute;
  background-color: transparent;
  transition: all 2s;
}

.instructions {
  margin-left: 40px;
  border-width: 1px;
  border-color: black;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
  display: block;
}

.cheatsheet {
  top:73.20%;
  left:160px;
  border-width: 1px;
  border-color: black;
  font-family: 'Dosis', sans-serif;
  position: absolute;
}

.button {
  margin: 20px;
  width: 25vw;
  top: 60vh;
  left: 60%;
  font-size: 60px;
  font-weight: bolder;
  font-stretch:semi-expanded;
  color: white;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  display: inline-block;
  transform-origin: center;
  position: absolute;
}

.pressed {
  transform: scale(0.75);
}

